{% extends "base.html" %}
{% block content %}
                    <div class="col-md-10">
                        <div class="card">
                            <div class="card-header bg-light">
                                添加主机组
                            </div>

                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-striped">
                                         <form id="collectform" action="/hostsinfo/addgroup/" method="post" autocomplete="off">
                                        <tr>
                                            <td>主机组名</td>
                                            <td>
                                                <input class="form-control" name="group_name" value="">
                                            </td>
                                        </tr>
                                         <tr>
                                            <td>所属网络</td>
                                            <td>
                                                <input class="form-control"  name="group_network" value="">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>主机组描述</td>
                                            <td class="text-nowrap">
                                                <input class="form-control"  name="group_detail" value="">
                                            </td>

                                        </tr>
                                             <tr>
                                                 <td></td>
                                                 <td>
                                                 <button type="button" class="btn btn-primary" onclick="javascript :history.back(-1);"><i class="icon icon-arrow-left-circle"></i>&nbsp;&nbsp;返回&nbsp;&nbsp;</button>
                                                 <button type="submit" class="btn btn-success" ><i class="icon icon-notebook"></i>&nbsp;&nbsp; 保存&nbsp;&nbsp; </button>
                                                 </td>
                                             </tr>
                                         {% csrf_token %}
                                         </form>

                                    </table>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

{% endblock %}

{% block custom_js %}

<script language="javascript">
function add_sure(){
var gnl=confirm("确定添加主机组?");
if (gnl==true){
return true;
}else{
return false;
}
}

</script>


{% endblock %}