{% extends "base.html" %}
{% block content %}

    <div class="row">

                    <div class="col-md-8">
                        <div class="card">
                                <div class="card-header bg-light">
                                        新建playbook任务
                                    </div>
                                   <form action="/taskdo/addscripts/" method="post" autocomplete="off" name="killttypform" id="killttypform">
                                    <div class="col-md-8">

                                        <label>任务名称</label>
                                        <input  class="form-control" name="name" id="name" value=""><br>
                                        <label>任务描述</label>
                                        <input  class="form-control" name="details" id="details" value=""><br>
                                        <label>脚本</label>
                                        <textarea class="form-control" name="text" id="text" placeholder="请输入脚本内容" style="width: 400px; height: 200px"></textarea><br>

                                        <button type="submit" class="btn btn-success" ><i class="fa fa-align-center"></i>&nbsp;&nbsp;确定&nbsp;</button>
                                        <button type="button" class="btn btn-primary" onclick="javascript :history.back(-1);" ><i class="icon icon-arrow-left-circle"></i>&nbsp;&nbsp;返回 &nbsp;</button>
                                        </div>
                                       {% csrf_token %}
                                   </form>
                                        <br>

                        </div>
                    </div>

                    <div class=col-md-4>

                            <div class="card">
                                    <div class="card-header bg-light">
                                            已保存的脚本
                                        </div>

                                        <div style="font-size: 14px;">
                                            {% for script in scripts %}
                                              <span style="float:right;">
                                                         <a href="/taskdo/updatescript{{ script.id }}/" >修改</a>
                                                         <a href="/taskdo/delscript{{ script.id }}/"  onclick="return sumbit_sure()">删除</a></span>
                                            {{script.name}}

                                            <br>
                                            {% endfor %}

                                            </div>

                            </div>
                    </div>
                </div>



{% endblock %}
{% block custom_js %}


<script language="javascript">
function sumbit_sure(){
var gnl=confirm("确定删除脚本?");
if (gnl==true){
return true;
}else{
return false;
}
}


</script>


{% endblock %}