{% extends "base.html" %}
{% block content %}
            <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header bg-light">添加主机</div>

                            <div class="col-md-12">
                                    <form id="searchform" action="/collecthost/" method="post" autocomplete="off" >
                                        <label>IP地址</label>
                                        <input name="ip" value="192.168.56.102">
                                        <label>密码</label>
                                        <input type="password" name="password" value="123456">
                                        <button type="submit" class="btn btn-primary" ><i class="fa fa-search"></i> Collection </button>
                                     {% csrf_token %}
                                    </form>

                            </div>
                        </div>
                    </div>
            </div>

             <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header bg-light">主机信息</div>

                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-striped">
                                        <form id="addform" action="/addhost/" method="post" autocomplete="off">
                                        <tr>
                                            <td>IP地址</td>
                                            <td class="text-nowrap">
                                                <input class="form-control" name="ip" value="{{res.host_ip}}" readonly></td>
                                        </tr>
                                         <tr>
                                            <td>密码</td>
                                             <td class="text-nowrap">
                                                 <input class="form-control" name="ssh_passwd" value="{{res.host_pass}}" readonly> </td>
                                        </tr>
                                        <tr>
                                            <td>所属系统</td>
                                            <td class="text-nowrap">
                                                <input type="text" class="form-control"></td>
                                        </tr>
                                        <tr>
                                            <td>主机类型</td>
                                            <td class="text-nowrap">
                                                <input type="text" class="form-control" name="host_type" value="{{res.product_name}}" readonly></td>
                                        </tr>
                                        <tr>
                                            <td>操作系统版本号</td>
                                            <td class="text-nowrap">
                                                <input type="text" class="form-control" name="system_ver" value="{{res.sys_version}}" readonly>
                                            </td>

                                        </tr>
                                        <tr>
                                            <td>主机名</td>
                                            <td class="text-nowrap">
                                                <input type="text" class="form-control" name="hostname" value="{{res.host_name}}" readonly>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>mac地址</td>
                                            <td class="text-nowrap">
                                            <input type="text" class="form-control" name="mac_address" value="{{res.host_mac}}" readonly>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>序列号</td>
                                            <td class="text-nowrap">
                                            <input type="text" class="form-control" name="sn_key" value="{{res.serial_number}}" readonly>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>所属主机组</td>
                                            <td class="text-nowrap">
                                             {% for group in groups %}

                                               <input type="checkbox" name="group" value="{{group.group_name}}">{{group.group_name}}</input>
                                                {%  if group.id|divisibleby:"3" %}<br>{% endif %}
                                             {% endfor %}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td><button type="submit" class="btn btn-primary" onclick="return add_sure()" ><i class="fa fa-align-center"></i>&nbsp;AddHost </button></td>
                                        </tr>
                                     {% csrf_token %}
                                </form>
                                    </table>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            {% if msg %}<script>alert("{{ msg }} "+"{{ res }}");</script>{% endif %}

{% endblock %}


{% block custom_js %}

<script language="javascript">
function add_sure(){
var gnl=confirm("确定添加主机?");
if (gnl==true){
return true;
}else{
return false;
}
}

</script>


{% endblock %}