{% extends "base.html" %}
{% block content %}


<div class="container-fluid">
                <div class="row">


                    <div class="col-md-12">

                        <div class="card">
                            <div class="card-header bg-light">
                                主机组：{{group.group_name}}&nbsp;用户列表
                            </div>

                            <div class="card-body">
                                 <div class="table-responsive">
                                    <table class="table table-striped">
                                        <thead>
                                        <tr>
                                            <th width="25%">用户名</th>
                                            <th width="25%">用户组</th>
                                            <th width="25%">用户登陆密码</th>
                                            <th width="25%">操作</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <form id="userform" action="" method="post" autocomplete="off">
                                        {% for user in users %}
                                        <tr>
                                            <td>
                                                <span class="username" id="username">{{user.username}}</span>
                                                <input class="form-control" name="username" type="text" value="{{user.username}}" disabled>
                                            </td>
                                            <td class="text-nowrap">
                                                <span class="group">{{user.usergroup}}</span>
                                                <input class="form-control" name="group" type="text" value="{{user.usergroup}}">
                                            </td>
                                            <td>
                                                <input class="form-control" type="password" name="password" value="">
                                                <input name="groupid" type="hidden" value="{{group.id}}">
                                            </td>

                                             <td>
                                                  {% ifnotequal request.user.role 2%}

                                                 <span name="nomal" class="nomal">
                                                 <a rel="edit" href="javascript:void(0)" >
                                                     <i class="icon icon-pencil"></i> 修改
                                                 </a>
                                                 </span>
                                                  <span name="edit" class="edit">
                                                 <a rel="update" href="javascript:void(0)" >
                                                     <i class="icon icon-lock"></i> 保存
                                                 </a>
                                                  <a rel="cancel" href="javascript:void(0)" >
                                                     <i class="icon icon-logout"></i> 取消
                                                 </a>

                                                 </span>
                                                 <a href="/hostsinfo/del_groupusers/{{user.username}}/{{group.id}}" onclick="return sumbit_sure()">
                                                     <i class="icon icon-magnifier-remove"></i> 删除
                                                 </a>
                                                  {% endifnotequal %}
                                            </td>
                                        </tr>
                                        {% endfor %}
                                        </form>
                                        <form id="adduserform" action="/hostsinfo/add_groupusers/" method="post" autocomplete="off">
                                        <tr>
                                            <td> <input class="form-control" id="add_username" name="add_username"></td>
                                            <td class="text-nowrap"><input class="form-control" id="add_usergroup" name="add_usergroup"></td>
                                            <td><input class="form-control" type="password" id="add_password" name="add_password"></td>

                                             <td>
                                                 <input name="add_groupid" type="hidden" value="{{group.id}}">
                                                 <button type="submit" class="btn btn-success"><i class="fa fa-align-center"></i> 新增 </button>
                                                 <button type="button"  class="btn btn-primary" onclick="javascript:window.location='/hostsinfo/grouplist/'"><i class="icon icon-arrow-left-circle"></i> 返回 </button>
                                            </td>
                                        </tr>
                                            {% csrf_token %}
                                        </form>

                                        </tbody>
                                        </table>
                                </div>
                        </div>

                        </div>
                    </div>
                </div>
    {% if status %}<script>alert("{{ status }} "+"{{ res }}");</script>{% endif %}
            </div>
{% endblock %}

{% block custom_js %}

<script language="javascript">

function sumbit_sure(){
var gnl=confirm("确定删除用户？该用户将从主机组中所有主机的可登陆用户列表中删除");
if (gnl==true){
return true;
}else{
return false;
}
}


$(document).ready(function(){
            $("input[name='username']").hide();
            $("input[name='group']").hide();
            $("input[name='password']").hide();
            $("span[class='edit']").hide();
        });

//点击编辑显示输入框
$(function(){
            $("a[rel='edit']").click(function () {
                $(this).parent().parent().parent().find("input[name='username']").show();
                $(this).parent().parent().parent().find("input[name='group']").show();
                $(this).parent().parent().parent().find("input[name='password']").show();
                $(this).parent().parent().parent().find("span[class='username']").hide();
                $(this).parent().parent().parent().find("span[class='group']").hide();
                $(this).hide();
                $(this).parent().parent().find("span[class='edit']").show();
            })})
 //点击取消隐藏输入框
 $(function () {
            $("a[rel='cancel']").click(function () {
                $(this).parent().parent().parent().find("input[name='username']").hide();
                $(this).parent().parent().parent().find("input[name='group']").hide();
                $(this).parent().parent().parent().find("input[name='password']").hide();
                $(this).parent().parent().parent().find("span[class='username']").show();
                $(this).parent().parent().parent().find("span[class='group']").show();
                $(this).parent().parent().find("span[class='edit']").hide();
                $(this).parent().parent().find("a[rel='edit']").show();
            })
        });

//保存修改
$(function () {
    $("a[rel='update']").click(function () {
        var username = $(this).parent().parent().parent().find("input[name='username']").val();
        var group = $(this).parent().parent().parent().find("input[name='group']").val();
        var password = $(this).parent().parent().parent().find("input[name='password']").val();
        var id = $(this).parent().parent().parent().find("input[name='groupid']").val();
        $.ajaxSetup({
            data: {csrfmiddlewaretoken:'{{ csrf_token }}'},});
        $.ajax({
            type: "post",
            url: "/hostsinfo/updategroupusers/",
            data: {id:id,password:password,username:username,group:group},
        }).done(function (data) {
            alert(data.status);
            window.location.reload();

        });
    })
});

$().ready(function() {
// 在键盘按下并释放及提交后验证提交表单
  $("#adduserform").validate({
    submitHandler: function() {
      alert("提交事件!");
      form.submit();
    },
    rules: {
      add_username: {
        required: true
      },
      add_password: {
        required: true
      },
      add_usergroup: {
        required: true
      },
    },
    messages: {
      add_username: {
        required: "请输入用户名"
      },
      add_password: {
        required: "请输入密码"
      },
        add_usergroup: {
        required: "请输入用户组"
      },
     }

    })
});

</script>


{% endblock %}