{% extends "base.html" %}
{% block content %}
  <div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                                <div class="card-header bg-light">
                                        主机组信息
                                    </div>

                                    <div class="col-md-12">
                                         <table class="table table-striped">
                                         <form id="collectform" action="/hostsinfo/modifygroup{{group.id}}/" method="post" autocomplete="off">
                                        <tr>
                                            <td>主机组名</td>
                                            <td>
                                                <input class="form-control" name="group_name" value="{{group.group_name}}">
                                            </td>
                                        </tr>
                                         <tr>
                                            <td>所属网络</td>
                                            <td>
                                                <input class="form-control"  name="group_network" value="{{ group.network }}">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>主机组描述</td>
                                            <td class="text-nowrap">
                                                <input class="form-control"  name="group_detail" value="{{group.group_detail}}">
                                                <input type="hidden" name="group_id" value="{{group.id}}">
                                            </td>

                                        </tr>
                                             <tr>
                                                 <td></td>
                                                 <td>
                                                     <button type="submit" class="btn btn-success" ><i class="icon icon-notebook"></i>&nbsp;&nbsp;保存&nbsp;&nbsp;</button>
                                                 <button type="button" class="btn btn-primary" onclick="javascript:window.location='/hostsinfo/grouplist/'"><i class="icon icon-arrow-left-circle"></i>&nbsp;&nbsp;返回&nbsp;&nbsp;</button>

                                                 </td>
                                             </tr>
                                         {% csrf_token %}
                                         </form>

                                    </table>
                                        </div>
                                       <br>
                        </div>
                    </div>
                </div>




            </div>


{% endblock %}
