{% extends "base.html" %}
{% block content %}

        <div>

                    <div class="col-md-12">
                        <div class="card">
                           <div class="card-header bg-light">分组列表 &nbsp;&nbsp;
                               <button type="submit" class="btn btn-success " onclick="window.location.href='/addgroup/'"><i class="fa fa-align-center"></i>AddGroup</button><br>

                           </div>
    
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-striped">
                                        <thead>
                                        <tr>
                                            <th>组名</th>
                                            <th>分组描述</th>
                                            <th>所属网络</th>
                                            <th>主机数量</th>
                                            <th>操作</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for group in groups.object_list %}
                                        <tr>
                                            <td>{{group.group_name}}</td>
                                            <td class="text-nowrap">{{group.group_detail}}</td>
                                            <td>{{group.network}}</td>
                                            <td>$800</td>
                                             <td>
                                                 <a href="" >
                                                     <i class="icon icon-eye"></i> 查看
                                                 </a>
                                                 <a href="host-detail.html" >
                                                     <i class="icon icon-pencil"></i> 修改
                                                 </a>
                                                 <a href="host-detail.html" >
                                                     <i class="icon icon-magnifier-remove"></i> 删除
                                                 </a>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                              </tbody>
                                        </table>

                                            <div id="pagination" align="right">
                                            {% if groups.has_previous %}
                                               <a href="?{{ groups.previous_page_number.querystring }}" >&lsaquo;&lsaquo; 上一页</a>
                                            {% endif %}
                                            {% for page in groups.pages %}
                                                {% if page %}
                                                    {% ifequal page groups.number %}
                                                      <a href="?{{ page.querystring }}"> {{ page }}</a>
                                                    {% else %}
                                                        <a href="?{{ page.querystring }}" class="page">{{ page }}</a>
                                                    {% endifequal %}
                                                {% else %}
                                                   <a href="">...</a>
                                                {% endif %}
                                            {% endfor %}
                                            {% if groups.has_next %}
                                                <a href="?{{ groups.next_page_number.querystring }}">下一页 &rsaquo;&rsaquo;</a>
                                            {% endif %}

                                            </div>


                                </div>
                            </div>
                        </div>
                    </div>
        </div>


{% endblock %}
