{% extends "base.html" %}
{% block content %}

        <div>

                    <div class="col-md-12">
                        <div class="card">
                           <div class="card-header bg-light">分组列表&nbsp; &nbsp;&nbsp;
                             {% ifnotequal request.user.role 2%}
                               <button type="submit" class="btn btn-success " onclick="window.location.href='/hostsinfo/addgroup/'"><i class="fa fa-align-center"></i> &nbsp;添加主机组</button><br>
                             {% endifnotequal %}
                           </div>
    
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-striped">
                                        <thead>
                                        <tr>
                                            <th>组名</th>
                                            <th>分组描述</th>
                                            <th>所属网络</th>

                                            <th>操作</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for group in groups.object_list %}
                                        <tr>
                                            <td>{{group.group_name}}</td>
                                            <td class="text-nowrap">{{group.group_detail}}</td>
                                            <td>{{group.network}}</td>

                                             <td>
                                                  {% ifnotequal request.user.role 2%}

                                                 <a href=/hostsinfo/modifygroup{{group.id}}/ >
                                                     <i class="icon icon-pencil"></i> 修改
                                                 </a>
                                                  <a href="/hostsinfo/group_users{{group.id}}/" >
                                                                <i class="icon icon-layers"></i> 用户
                                                        </a>
                                                 <a href="/hostsinfo/delgroup{{group.id}}/" onclick="return sumbit_sure()" >
                                                     <i class="icon icon-magnifier-remove"></i> 删除
                                                 </a>
                                                  {% endifnotequal %}
                                            </td>
                                        </tr>
                                        {% endfor %}
                                              </tbody>
                                        </table>

                                            <div id="pagination" align="right">
                                            {% if groups.has_previous %}
                                               <a href="?{{ groups.previous_page_number.querystring }}" >&lsaquo;&lsaquo; 上一页</a>
                                            {% endif %}
                                            {% for page in groups.pages %}
                                                {% if page %}
                                                    {% ifequal page groups.number %}
                                                      <a href="?{{ page.querystring }}"> {{ page }}</a>
                                                    {% else %}
                                                        <a href="?{{ page.querystring }}" class="page">{{ page }}</a>
                                                    {% endifequal %}
                                                {% else %}
                                                   <a href="">...</a>
                                                {% endif %}
                                            {% endfor %}
                                            {% if groups.has_next %}
                                                <a href="?{{ groups.next_page_number.querystring }}">下一页 &rsaquo;&rsaquo;</a>
                                            {% endif %}

                                            </div>


                                </div>
                            </div>
                        </div>
                    </div>
            {% if msg %}<script>alert("{{ msg }} "+"{{ res }}");</script>{% endif %}
        </div>



{% endblock %}

{% block custom_js %}

<script language="javascript">
function sumbit_sure(){
var gnl=confirm("确定删除主机组?");
if (gnl==true){
return true;
}else{
return false;
}
}

</script>


{% endblock %}

 {% block grouplist %}active{% endblock %}