{% extends "base.html" %}
{% block content %}

        <div class="content">
            <div class="container-fluid">

            
                <div class="row">
    
                    <div class="col-md-12">
                        <div class="card">
                                         

                            <div class="card-header bg-light">
                                分组列表

                            </div>
    
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-striped">
                                        <thead>
                                        <tr>
                                            <th>组名</th>
                                            <th>分组描述</th>
                                            <th>所属网络</th>
                                            <th>主机数量</th>
                                            <th>操作</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for group in groups %}
                                        <tr>
                                            <td>{{group.group_name}}</td>
                                            <td class="text-nowrap">{{group.group_detail}}</td>
                                            <td>{{group.network}}</td>
                                            <td>$800</td>
                                             <td>
                                                 <a href="host-detail.html" >
                                                     <i class="icon icon-eye"></i> 查看
                                                 </a>
                                                 <a href="host-detail.html" >
                                                     <i class="icon icon-pencil"></i> 修改
                                                 </a>
                                                 <a href="host-detail.html" >
                                                     <i class="icon icon-magnifier-remove"></i> 删除
                                                 </a>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                        <tr>
                                       <form id="collectform" action="/addgroup/" method="post" autocomplete="off">

                                          {% csrf_token %}
                                        </form>
                                             <button type="submit" class="btn btn-success " onclick="window.location.href='/addgroup/'"><i class="fa fa-align-center"></i>AddGroup</button><br>
                                        </tr>

                                        </tbody>

                                    </table>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    


            </div>
        </div>
{% endblock %}
