{% extends "base.html" %}
{% block content %}
        <div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                                <div class="card-header bg-light">
                                        查询条件
                                    </div>
                                    
                                    <div class="col-md-12">
                                        <form id="searchform" action="/hostinfo/" method="post" autocomplete="off" >

                                                <label>主机组</label>
                                                   <select name="host_group" >

                                              <option selected="selected" disabled="disabled" value=""></option>
                                                       {% for group in groups %}
                                              <option value="{{group.group_name}}"> {{group.group_name}} </option>
                                                       {% endfor %}
                                                    </select>
                                               <label>ip地址</label>
                                               <input name="host_ip" value=" ">
                                                    <button type="submit" class="btn btn-primary" ><i class="fa fa-search"></i> 查询</button>
                                            {% ifnotequal request.user.role 2%}
                                                    <button type="button" class="btn btn-success " onclick="window.location.href='/addhost/' "><i class="fa fa-align-center"></i> 添加</button>
                                             {% endifnotequal %}
                                         {% csrf_token %}
                                        </form>
                                        </div>
                                       <br>
                        </div>
                    </div>
                </div>

                <div class="row">

                    <div class="col-md-12">
                        <div class="card">

                            <div class="card-header bg-light">
                                主机列表
                            </div>
    
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-striped">
                                        <thead>
                                        <tr>
                                            <th>主机名</th>
                                            <th>IP地址</th>
                                            <th>主机组</th>
                                            <th>操作系统</th>

                                            <th>操作</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for host in hosts.object_list %}
                                        <tr>
                                            <td>{{ host.hostname }}</td>
                                            <td class="text-nowrap">{{ host.ip }}</td>
                                            <td width="150">{% for group in host.host_group.all%}{{group.group_name}}&nbsp; {% endfor %}</td>
                                            <td width="250">{{ host.system_ver }}</td>

                                            <td>
                                                    <a href="/hostdetail{{ host.id }}/" >
                                                            <i class="icon icon-eye"></i> 查看
                                                        </a>
                                                {% ifnotequal request.user.role 2%}
                                                 <a href="/hostusers{{ host.id }}/" >
                                                                <i class="icon icon-layers"></i> 用户
                                                        </a>
                                                        <a href="/modifyhost{{ host.id }}/" >
                                                                <i class="icon icon-pencil"></i> 修改
                                                        </a>
                                                         <a href="/hostdel{{ host.id }}/"  onclick="return sumbit_sure()">
                                                                    <i class="icon icon-magnifier-remove"></i> 删除
                                                         </a>
                                               {% endifnotequal %}
                                            </td>
                                        </tr>
                                        {% endfor %}


                                        </tbody>
                                    </table>

                                     <div id="pagination" align="right">
                                            {% if hosts.has_previous %}
                                               <a href="?{{ hosts.previous_page_number.querystring }}" >&lsaquo;&lsaquo; 上一页</a>
                                            {% endif %}
                                            {% for page in hosts.pages %}
                                                {% if page %}
                                                    {% ifequal page hosts.number %}
                                                      <a href="?{{ page.querystring }}"> {{ page }}</a>
                                                    {% else %}
                                                        <a href="?{{ page.querystring }}" class="page">{{ page }}</a>
                                                    {% endifequal %}
                                                {% else %}
                                                   <a href="">...</a>
                                                {% endif %}
                                            {% endfor %}
                                            {% if hosts.has_next %}
                                                <a href="?{{ hosts.next_page_number.querystring }}">下一页 &rsaquo;&rsaquo;</a>
                                            {% endif %}

                                            </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    

            {% if msg %}<script>alert("{{ msg }} "+"{{ res }}");</script>{% endif %}
            </div>

{% endblock %}

{% block custom_js %}

<script language="javascript">
function sumbit_sure(){
var gnl=confirm("确定删除主机?");
if (gnl==true){
return true;
}else{
return false;
}
}

</script>


{% endblock %}

{% block hostinfo %}
active
{% endblock %}