{% extends "base.html" %}
{% block content %}


<div class="container-fluid">
                <div class="row">

                    <div class="col-md-12">
                         <form id="userform" action="" method="post" autocomplete="off">
                        <div class="card">
                            <div class="card-header bg-light">
                                {{host.ip}}主机用户列表
                            </div>

                            <div class="card-body">
                                 <div class="table-responsive">
                                    <table class="table table-striped">
                                        <thead>
                                        <tr>
                                            <th>用户名</th>
                                            <th>用户组</th>
                                            <th>用户登陆密码</th>

                                            <th>操作</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for user in users %}
                                        <tr>
                                            <td width="20%">
                                                <span class="username" id="username">{{user.username}}</span>
                                                <input class="form-control" name="username" type="text" value="{{user.username}}" disabled>
                                            </td>
                                            <td width="20%" class="text-nowrap">
                                                <span class="group">{{user.usergroup}}</span>
                                                <input class="form-control" name="group" type="text" value="{{user.usergroup}}" disabled>
                                            </td>
                                            <td width="30%">
                                                <input class="form-control" type="password" name="password" value="">
                                                <input class="form-control" type="hidden" name="id" value="{{user.id}}">
                                            </td>

                                             <td>
                                                  {% ifnotequal request.user.role 2%}
                                                 <span name="nomal" class="nomal">
                                                 <a rel="edit" href="javascript:void(0)" >
                                                     <i class="icon icon-pencil"></i> 修改
                                                 </a>
                                                 </span>
                                                  <span name="edit" class="edit">
                                                 <a rel="update" href="javascript:void(0)">
                                                     <i class="icon icon-lock"></i> 保存
                                                 </a>
                                                       <a rel="cancel" href="javascript:void(0)" >
                                                     <i class="icon icon-logout"></i> 取消
                                                 </a>

                                                 </span>


                                                  {% endifnotequal %}
                                            </td>
                                        </tr>
                                        {% endfor %}

                                              </tbody>
                                        </table>


                                </div>



                        </div>
                                {% csrf_token %}
                        </div></form>
                    </div>
                </div>
            </div>
{% endblock %}

{% block custom_js %}

<script language="javascript">

function sumbit_sure(){
var user= document.getElementById("username").value;
var gnl=confirm("确定删除用户"+user +"?");
if (gnl==true){
return true;
}else{
return false;
}
}

$(document).ready(function(){
            $("input[name='username']").hide();
            $("input[name='group']").hide();
            $("input[name='password']").hide();
            $("span[class='edit']").hide();
        });

//点击编辑显示输入框
$(function(){
            $("a[rel='edit']").click(function () {
                $(this).parent().parent().parent().find("input[name='username']").show();
                $(this).parent().parent().parent().find("input[name='group']").show();
                $(this).parent().parent().parent().find("input[name='password']").show();
                $(this).parent().parent().parent().find("span[class='username']").hide();
                $(this).parent().parent().parent().find("span[class='group']").hide();
                $(this).hide();
                $(this).parent().parent().find("span[class='edit']").show();
            })})
 //点击取消隐藏输入框
 $(function () {
            $("a[rel='cancel']").click(function () {
                $(this).parent().parent().parent().find("input[name='username']").hide();
                $(this).parent().parent().parent().find("input[name='group']").hide();
                $(this).parent().parent().parent().find("input[name='password']").hide();
                $(this).parent().parent().parent().find("span[class='username']").show();
                $(this).parent().parent().parent().find("span[class='group']").show();
                $(this).parent().parent().find("span[class='edit']").hide();
                $(this).parent().parent().find("a[rel='edit']").show();
            })
        });

//保存修改
        $(function () {
            $("a[rel='update']").click(function () {
                var username = $(this).parent().parent().parent().find("input[name='username']").val();
                var group = $(this).parent().parent().parent().find("input[name='group']").val();
                var password = $(this).parent().parent().parent().find("input[name='password']").val();
                var id = $(this).parent().parent().parent().find("input[name='id']").val();
//                var $this = $(this);
                $.ajax({
                    type: "post",
                    url: "/hostsinfo/update_hostuser/",
                    data: { id: id,password:password},
                }).done(function (data) {
                    if (data == "1") {
                        alert("保存成功！");
                        window.location.reload();
                    }
                    else
                        alert("保存失败！");
                });
            })
        });

</script>


{% endblock %}