{% extends "base.html" %}
{% block content %}
        <div class="content">
            <div class="container-fluid">

                <div class="row">
    
                    <div class="col-md-8">
                        <div class="card">
                                         

                            <div class="card-header bg-light">
                                主机详细信息
                            </div>
    
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-striped">
                                        <thead>
                                        <tr>
                                            <th>IP地址</th>
                                            <th>10.248.0.1</th>

                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>MAc地址</td>
                                            <td class="text-nowrap">Samsung Galaxy S8</td>

                                        </tr>
                                        <tr>
                                            <td>所属系统</td>
                                            <td class="text-nowrap">代理保险</td>
   
                                        </tr>
                                        <tr>
                                            <td>主机类型</td>
                                            <td class="text-nowrap">虚拟机</td>
  
                                        </tr>
                                        <tr>
                                            <td>操作系统版本号</td>
                                            <td class="text-nowrap">red-flag as4</td>
 
                                        </tr>
                                        <tr>
                                            <td>CPU型号</td>
                                            <td class="text-nowrap">Google Nexus 6</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    

            </div>
        </div>
{% endblock %}