{% extends "base.html" %}
{% block content %}


<div class="container-fluid">
                <div class="row">

                    <div class="col-md-12">
                         <form id="userform" action="" method="post" autocomplete="off">
                        <div class="card">
                            <div class="card-header bg-light">
                                {{host.ip}}主机用户列表
                            </div>

                            <div class="card-body">
                                 <div class="table-responsive">
                                    <table class="table table-striped">
                                        <thead>
                                        <tr>
                                            <th>用户名</th>
                                            <th>用户组</th>
                                            <th>用户登陆密码</th>

                                            <th>操作</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for user in users %}
                                        <tr>
                                            <td width="20%" id="username">{{user.username}}</td>
                                            <td width="20%" class="text-nowrap">{{user.usergroup}}</td>
                                            <td width="30%">
                                                <input class="form-control" type="password" name="password" value="">
                                            </td>

                                             <td>
                                                  {% ifnotequal request.user.role 2%}

                                                 <a href="/hostsinfo/addhost_users/" onclick=change_text("{{user.id}}") >
                                                     <i class="icon icon-pencil"></i> 修改
                                                 </a>

                                                  {% endifnotequal %}
                                            </td>
                                        </tr>
                                        {% endfor %}

                                              </tbody>
                                        </table>


                                </div>



                        </div>
                                {% csrf_token %}
                        </div></form>
                    </div>
                </div>
            </div>
{% endblock %}

{% block custom_js %}

<script language="javascript">

function sumbit_sure(){
var user= document.getElementById("username").value;
var gnl=confirm("确定删除用户"+user +"?");
if (gnl==true){
return true;
}else{
return false;
}
}

function change_text(user_id){
    var user_id = user_id;
    alert(user_id);
    return false;
}



</script>


{% endblock %}