{% extends "base.html" %}
{% block content %}

    <div class="row">

                    <div class="col-md-4">
                        <div class="card">
                                <div class="card-header bg-light">
                                        目标主机
                                    </div>
                                   <form action="/killttyp/" method="post" autocomplete="off">
                                    <div class="col-md-8">

                                                <label>业务系统</label>

                                        <select name="type" class="form-control">
                                          <option value="chuxu">储蓄</option>
                                          <option value="huidui">汇兑</option>
                                          <option value="baoxian">保险</option>
                                        </select>
                                        <br>
                                               <label>ttyp号</label>
                                               <input  class="form-control" name="ttyp" value=" "><br>

                                                    <button type="submit" class="btn btn-success " ><i class="fa fa-align-center"></i>Kill</button>

                                        </div>
                                       {% csrf_token %}
                                   </form>
                                        <br>

                        </div>
                    </div>

                    <div class=col-md-8>

                            <div class="card">
                                    <div class="card-header bg-light">
                                            执行结果
                                        </div>

                                        <div class="col-md-12">
                                            执行命令：{{ command }}<br>
                                            执行成功：{{  success_num}}台<br>
                                            执行成功主机:{{ success_list  }}<br>

                                            远程主机返回结果：<br>
                                            {% for key,value in stdout_success.items %}

                                            {{key}}:<br>
                                            {{value}}

                                            {% endfor %}


                                            <br>
                                            执行失败：{{ failed_num }}台<br>
                                            执行失败主机：{{ failed_list }}
                                            远程主机返回结果：<br>
                                            {% for key,value in stdout_failed.items %}

                                            {{key}}:<br>
                                            {{value}}

                                            {% endfor %}


                                            <br>
                                            主机无法连接：{{ unreachable_num }}台<br>
                                            无法连接主机：{{ unreachable_list}}




                                            </div>

                            </div>
                    </div>
                </div>



{% endblock %}