{% extends "base.html" %}
{% block content %}

    <div class="row">

                    <div class="col-md-4">
                        <div class="card">
                                <div class="card-header bg-light">
                                        目标主机
                                    </div>
                                   <form action="/killttyp/" method="post" autocomplete="off">
                                    <div class="col-md-8">

                                                <label>业务系统</label>

                                        <select name="type" class="form-control" id="type">
                                          <option value="储蓄">储蓄</option>
                                          <option value="汇兑">汇兑</option>
                                          <option value="保险">保险</option>
                                        </select>
                                        <br>
                                               <label>ttyp号</label>
                                               <input  class="form-control" name="ttyp" id="ttyp" value=" "><br>
                                               <button type="submit" class="btn btn-success" onclick="return add_sure()"><i class="fa fa-align-center"></i>&nbsp;&nbsp;确定&nbsp;</button>

                                        </div>
                                       {% csrf_token %}
                                   </form>
                                        <br>

                        </div>
                    </div>

                    <div class=col-md-8>

                            <div class="card">
                                    <div class="card-header bg-light">
                                            执行结果
                                        </div>

                                        <div class="col-md-12">
                                            <lable>执行命令：{{ command }}</lable><br>
                                            <br>
                                            执行成功：{{  success_num }}台 &nbsp;执行失败：{{failed_num }} 台 &nbsp; 主机无法连接：{{ unreachable_num }}台<br>

                                            执行成功主机：{{ success_list  }}<br>
                                            执行失败主机：{{ failed_list  }}<br>
                                            无法连接主机：{{ unreachable_list}}<br><br>

                                            远程主机返回结果：<br>
                                            <div style="background-color: black ">
                                            {% for key,value in stdout_success.items %}

                                                <font color="red">{{key}}:</font><br>
                                            <pre>
                                                <font color="white">
                                            {{value}}</font>
                                             </pre>

                                            {% endfor %}

                                            {% for key,value in stdout_failed.items %}

                                            {{key}}:<br>
                                            {{value}}

                                            {% endfor %}
                                             </div>

                                            <br>

                                            </div>

                            </div>
                    </div>
                </div>



{% endblock %}

{% block killttyp %}active{% endblock %}

{% block custom_js %}

<script language="javascript">
function add_sure(){
var ttyp = document.getElementById("ttyp").value;
var type = document.getElementById("type").value;
var gnl=confirm("确定清理"+type+"系统终端号"+ttyp+"?");
if (gnl==true){
return true;
}else{
return false;
}
}

</script>


{% endblock %}