{% extends "base.html" %}
{% block content %}
        <div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                                <div class="card-header bg-light">
                                        查询条件
                                    </div>

                                    <div class="col-md-12">
                                        <form id="searchform" action="/hostinfo/" method="post" autocomplete="off" >

                                                <label>日期</label>
                                            <input type="date" value="2015-09-24" min="2019-05-01" max="2099-09-26">
                                               <label>ip地址</label>
                                               <input name="host_ip" value=" ">
                                                    <button type="submit" class="btn btn-primary" ><i class="fa fa-search"></i> Search</button>

                                         {% csrf_token %}
                                        </form>
                                        </div>
                                       <br>
                        </div>
                    </div>
                </div>

                <div class="row">

                    <div class="col-md-12">
                        <div class="card">

                            <div class="card-header bg-light">
                                主机列表
                            </div>

                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-striped">
                                        <thead>
                                        <tr>
                                            <th>操作时间</th>
                                            <th>操作主机</th>
                                            <th>操作用户</th>
                                            <th>执行命令</th>
                                            <th>执行结果</th>
                                            <th>详细信息</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for log in logs.object_list %}
                                        <tr>
                                            <td>{{ log.date }}</td>
                                            <td class="text-nowrap">{{ log.host }}</td>
                                            <td>{{log.user}}&nbsp;</td>
                                            <td>{{ log.cmd }}</td>
                                            <td>{{ log.result }}</td>
                                            <td>
                                                <!-- <script>
                                                    var details = {{log.details}};

                                                </script> -->


                                                <a href="/logdetails{{log.id}}" target="_blank" ><i class="icon icon-eye"></i>查看</a>

                                            </td>
                                        </tr>
                                        {% endfor %}


                                        </tbody>
                                    </table>

                                     <div id="pagination" align="right">
                                            {% if logs.has_previous %}
                                               <a href="?{{ logs.previous_page_number.querystring }}" >&lsaquo;&lsaquo; 上一页</a>
                                            {% endif %}
                                            {% for page in logs.pages %}
                                                {% if page %}
                                                    {% ifequal page logs.number %}
                                                      <a href="?{{ page.querystring }}"> {{ page }}</a>
                                                    {% else %}
                                                        <a href="?{{ page.querystring }}" class="page">{{ page }}</a>
                                                    {% endifequal %}
                                                {% else %}
                                                   <a href="">...</a>
                                                {% endif %}
                                            {% endfor %}
                                            {% if logs.has_next %}
                                                <a href="?{{ logs.next_page_number.querystring }}">下一页 &rsaquo;&rsaquo;</a>
                                            {% endif %}

                                            </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



            </div>

{% endblock %}

{% block custom_js %}
<script language="javascript">
     function openwin() {

         window.open("www.baidu.com", "", "height=400, width=400, top=200,left=200,toolbar=no, menubar=no, scrollbars=no, resizable=no, location=no, status=no")
     }

</script>

{% endblock %}