{% extends "base.html" %}
{% block content %}
  <div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                                <div class="card-header bg-light">
                                        主机信息
                                    </div>

                                    <div class="col-md-12">
                                         <table class="table table-striped">
                                         <form id="collectform" action="/modifyhost/" method="post" autocomplete="off">
                                        <tr>
                                            <td>IP地址</td>
                                            <td>
                                                <input class="form-control" name="ip" value="{{host.ip }}" readonly>
                                            </td>
                                        </tr>
                                         <tr>
                                            <td>密码</td>
                                            <td>
                                                <input type="password" class="form-control"  name="password" >
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>主机描述</td>
                                            <td class="text-nowrap">
                                                <input class="form-control"  name="host_detail" >
                                            </td>

                                        </tr>
                                             <tr>
                                                 <td></td>
                                                 <td>
                                                   <button type="button" class="btn btn-primary" ><i class="fa fa-search"></i> Test-Connect </button>
                                                 <button type="submit" class="btn btn-success" ><i class="fa fa-download"></i> Save-Host </button>
                                                 <button type="button"  class="btn btn-primary" onclick="window.location.href='/hostinfo/' "><i class="fa fa-search"></i> 返回上一页 </button>
                                                 </td>
                                             </tr>
                                         {% csrf_token %}
                                         </form>

                                    </table>
                                        </div>
                                       <br>
                        </div>
                    </div>
                </div>



        {% if msg %}<script>alert("{{ msg }} "+"{{ res }}");</script>{% endif %}
            </div>


{% endblock %}
{% block custom_js %}


{% endblock %}