{% extends "base.html" %}
{% block content %}
  <div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                                <div class="card-header bg-light">
                                        主机信息
                                    </div>

                                    <div class="col-md-12">
                                         <table class="table table-striped">
                                         <form id="collectform" action="/hostsinfo/modifyhost{{host.id}}/" method="post" autocomplete="off">
                                        <tr>
                                            <td>IP地址</td>
                                            <td>
                                                <input class="form-control" name="ip" value="{{host.ip }}" readonly>
                                            </td>
                                        </tr>
                                         <tr>
                                            <td>root密码</td>
                                            <td>
                                                <input type="password" class="form-control"  name="password" >
                                            </td>
                                        </tr>
                                              <tr>
                                            <td>所属系统</td>
                                            <td class="text-nowrap">
                                                <input type="text" name="mathine_type" class="form-control" value="{{host.mathine_type}}"></td>
                                        </tr>
                                        <tr>
                                            <td>主机类型</td>
                                            <td class="text-nowrap">
                                                <input type="text" class="form-control" name="host_type" value="{{host.host_type}}"></td>
                                        </tr>
                                        <tr>
                                            <td>操作系统版本号</td>
                                            <td class="text-nowrap">
                                                <input type="text" class="form-control" name="system_ver" value="{{host.system_ver}}">
                                            </td>

                                        </tr>
                                        <tr>
                                            <td>主机名</td>
                                            <td class="text-nowrap">
                                                <input type="text" class="form-control" name="hostname" value="{{host.hostname}}">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>mac地址</td>
                                            <td class="text-nowrap">
                                            <input type="text" class="form-control" name="mac_address" value="{{host.mac_address}}">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>序列号</td>
                                            <td class="text-nowrap">
                                            <input type="text" class="form-control" name="sn_key" value="{{host.sn_key}}">
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>所属主机组</td>
                                            <td class="text-nowrap">
                                             {% for group in groups%}
                                               <input type="checkbox" name="group" value="{{group.group_name}}"{% for host_group in host.host_group.all %} {%ifequal group.group_name host_group.group_name %}checked{% endifequal %}{% endfor %}>{{group.group_name}}</input>
                                                {%  if group.id|divisibleby:"3" %}<br>{% endif %}
                                             {% endfor %}
                                            </td>
                                        </tr>

                                             <tr>
                                                 <td></td>
                                                 <td>
                                                 <button type="submit" class="btn btn-success" ><i class="icon icon-notebook"></i> &nbsp;保存修改&nbsp; </button>
                                                 <button type="button"  class="btn btn-primary" onclick="javascript:window.location='/hostsinfo/hostinfo/'"><i class="icon icon-arrow-left-circle"></i> 返回 </button>
                                                 </td>
                                             </tr>
                                         {% csrf_token %}
                                         </form>

                                    </table>
                                        </div>
                                       <br>
                        </div>
                    </div>
                </div>



        {% if msg %}<script>alert("{{ msg }} "+"{{ res }}");</script>{% endif %}
            </div>


{% endblock %}
{% block custom_js %}


{% endblock %}