{% extends "base.html" %}
{% block content %}
        <div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                                <div class="card-header bg-light">
                                        查询条件
                                    </div>

                                    <div class="col-md-12">
                                        <form id="searchform" action="/monitor/monitor/" method="post" autocomplete="off" >

                                                <label>主机组</label>
                                                   <select id="group" name="sendgroupname">
                                              <option selected="selected" disabled="disabled" value="">请选择</option>
                                                       {% for group in groups %}
                                              <option value="{{group.group_name}}"> {{group.group_name}} </option>
                                                       {% endfor %}
                                              </select>
                                               <label>ip地址</label>
                                               <span id="hostip">
                                                   <select id="ip" name="hostip">
                                                       <option selected="selected" name="host" disabled="disabled" value="">请选择</option>
                                                   </select>
                                               </span>
                                               <button id="getstatus" type="button" class="btn btn-primary" ><i class="fa fa-search" ></i> 查询</button>
                                         {% csrf_token %}
                                        </form><br>
                                        <div class="row">
               <div class="row mt-0">
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header bg-light">
                            CPU使用率：
                        </div>

                        <div class="card-body">
                            <canvas id="pie-chart-cpu" width="100%" height="100"></canvas>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header bg-light">
                            内存使用率：
                        </div>

                        <div class="card-body">
                            <canvas id="pie-chart-mem" width="100%" height="100"></canvas>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header bg-light">
                            硬盘使用率：
                        </div>

                        <div class="card-body">
                            <canvas id="pie-chart-disk" width="100%" height="100"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            </div>
                       <br>
                        </div>
                    </div>
                </div>




            {% if msg %}<script>alert("{{ msg }} "+"{{ res }}");</script>{% endif %}
            </div>

{% endblock %}

{% block custom_js %}

<script language="javascript">
function sumbit_sure(){
var gnl=confirm("确定删除主机?");
if (gnl==true){
return true;
}else{
return false;
}
}

$("#group").change(function() {
     $.ajax({
       url: '/taskdo/gethost/',
    data:{"sendgroupname":$(this).val()},
       type: 'GET',
       dataType: 'json',
       success: function (data, textStatus) {
             var content='<select id="ip" name="hostip">';
            $.each(data, function(i, item){
                  content+='<option name="hostip" value="'+ item.ip +'">'+item.ip+'</option>';
             });
            content+='</select>';
        $('#hostip').html(content)
    },
  });
});


$("#getstatus").click(function() {
     $.ajaxSetup({
            data: {csrfmiddlewaretoken:'{{ csrf_token }}'},});
     $.ajax({
       url: '/monitor/monitor/',
       data:{"hostip":$("#ip").val()},
       type: 'POST',
       dataType: 'json',
       success: function (data, textStatus) {
         alert(data.mem_use_data);
         //cpu使用率
         var cpu_use = data.mem_use_data;
         var cpu_idle = 100-cpu_use;
         var pieChart = $('#pie-chart-cpu');
         if (pieChart.length > 0) {
            new Chart(pieChart, {
            type: 'pie',
            data: {
                labels: ["空闲","已使用"],
                datasets: [{
                    label: 'cpu使用情况',
                    data: [cpu_idle,cpu_use],
                    backgroundColor: [
                        'rgba(33, 150, 243, 0.5)',
                        'rgba(253, 178, 68, 0.5)'
                    ],
                    borderColor: [
                        'rgba(33, 150, 243, 0.5)',
                        'rgba(253, 178, 68, 0.5)'
                    ],
                    borderWidth: 1
                   }]
                  }
            });
         }
         //内存使用率
         var mem_use = data.mem_use_data;
         var mem_idle = 100-mem_use;
         var pieChart = $('#pie-chart-mem');
         if (pieChart.length > 0) {
            new Chart(pieChart, {
                type: 'pie',
                data: {
                    labels: ["空闲","已使用"],
                    datasets: [{
                        label: 'cpu使用情况',
                        data: [mem_idle,mem_use],
                        backgroundColor: [
                            'rgba(33, 150, 243, 0.5)',
                            'rgba(253, 178, 68, 0.5)'
                        ],
                        borderColor: [
                            'rgba(33, 150, 243, 0.5)',
                            'rgba(253, 178, 68, 0.5)'
                        ],
                        borderWidth: 1
                    }]
                }
            });
         }
         //磁盘使用率
         var disk_use = data.disk_use_data
         var disk_idle = 100-disk_use
         var pieChart = $('#pie-chart-disk');
         if (pieChart.length > 0) {
            new Chart(pieChart, {
                type: 'pie',
                data: {
                    labels: ["空闲","已使用"],
                    datasets: [{
                        label: 'cpu使用情况',
                        data: [disk_idle,disk_use],
                        backgroundColor: [
                            'rgba(33, 150, 243, 0.5)',
                            'rgba(253, 178, 68, 0.5)'
                        ],
                        borderColor: [
                            'rgba(33, 150, 243, 0.5)',
                            'rgba(253, 178, 68, 0.5)'
                        ],
                        borderWidth: 1
                    }]
                }
            });
         }




},
});


});


</script>


{% endblock %}

{% block monitor %}
active
{% endblock %}

{% block custom_style %}
<style>
.col-md-4{
    margin: 0;
    padding-right:0;
    width: 300px;
}
.card-body{
}
    #pie-chart-cpu,#pie-chart-mem,#pie-chart-disk{
        width: 200px;
        height: 200px;
    }
</style>
{% endblock %}