{% extends "base.html" %}
{% block content %}


                <div class="row">

                    <div class="col-md-4">
                        <div class="card">
                                <div class="card-header bg-light">
                                        目标主机
                                    </div>
                                    <form id="searchform" action="" method="post" autocomplete="off" >
                                    <div class="col-md-12">
                                            <div class="form-group">
                                                    <label for="group">主机分组</label>
                                                     <select id="group" name="sendgroupname" class="form-control">
                                                          <option value="">请选择</option>
                                                        {% for group in groups %}
                                                    <option value="{{group.group_name}}">{{group.group_name}}</option>
                                                          {% endfor %}
                                                   </select>
                                             </div>

                                            <div class="form-group">
                                                <label for="hostip" class="form-control-label">IP地址</label>
                                               <input type="checkbox" name="hostip" checked="checked" onclick="check_all(this,'hostip');"/><a onclick="check.click()">全选</a>
                                                <div id="hostip"></div>
                                            </div>

                                          <div class="form-group">
                                                  <label>playbook脚本</label>
                                              <button type="button" id="check-script-btn" class="btn btn-info">选择</button> &nbsp;
                                              <button type="button" class="btn btn-info" onclick="window.location.href='/taskdo/addscripts/' ">管理</button><br><br>
                                              <div id="select-script">
                                                  <div class="sign">
                                                      <div class="script-content">
                                                  <input name="search-name" class="form-control"><br><button type="button" class="btn btn-info">搜索</button>&nbsp;<button id="cancel-script-btn" type="button" class="btn btn-info">确定</button><br><br>
                                                      {% for script in scripts %}
                                                      <label class="bui-radios-label">
                                                      <input type="radio" name="scriptname" value="{{script.name}}"><i class="bui-radios"></i>{{script.name}}
                                                      </label><br>
                                                      {% endfor %}
                                                          </div>
                                                  </div>
                                              </div>
                                            <div id="show_user">
                                                <input id="scriptname" name="scriptname" class="form-control">
                                            </div>
                                            </div>



                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-primary" id="submit-test-btn"><i class="fa fa-align-center"></i> 测试</button>
                                                <button type="button" class="btn btn-success" id="submit-task-btn"><i class="fa fa-align-center"></i> 执行</button>
                                            </span>

                                    </div>
                                    {% csrf_token %}
                                   </form>
                                        <br>

                        </div>
                    </div>

                    <div class=col-md-8>

                            <div class="card">
                                    <div class="card-header bg-light">
                                            执行结果
                                        </div>

                                      <div class="col-md-12">
                                            <lable>执行命令：{{ command }}</lable>
                                           <label id="command"></label><br>
                                            <br>
                                          <label>执行成功：</label>
                                          <label id="success_num"></label>
                                          <label id="success_list"></label><br>

                                          <label>执行失败：</label>
                                          <label id="failed_num"></label>
                                          <label id="failed_list"></label><br>

                                          <label>主机无法连接：</label>
                                          <label id="unreachable_num"></label>
                                          <label id="unreachable_list"></label><br>

                                          <label>远程主机返回结果：</label> <div style="background-color: black ">
                                          <div id = "stdout_success"></div>
                                          <div id = "stdout_failed"></div>
                                          </div>

                                            </div>

                            </div>
                    </div>
                    {% if msg %}<script>alert("{{ msg }} ");</script>{% endif %}
                </div>


{% endblock %}

{% block custom_js %}
<script language="JavaScript">
    $("#check-script-btn").click(function() {
      $("#select-script").toggle();
    });

    $("#cancel-script-btn").click(function() {
      $("#select-script").toggle();
      $("#scriptname").val($("input[name='scriptname']:checked").val());
    });

    $("#group").change(function() {
      var groupname = $(this).val();
      $.ajax({
        url: '/taskdo/gethost/',
        data:{"sendgroupname":$(this).val()},
        type: 'GET',
        dataType: 'json',
        success: function (data, textStatus) {
            var content='';
            $.each(data, function(i, item){
                  content+='<input type="checkbox" class="custom-checkbox" name="ip" checked="checked" value='+item.ip+'>'+item.ip+'<br>'});
            $('#hostip').html(content)
        },
          error : function(e){
                alert("获取主机列表失败！");
            }
      });
    });


    $("#submit-task-btn").click(function () {
        $('#stdout_success').html('<font color="red">命令执行中........</font>');
        var host_list = new Array();
        $('input[name="ip"]:checked').each(function(){
         host_list.push($(this).val());//向数组中添加元素
        });
        var hostip=host_list.join(',');//将数组元素连接起来以构建一个字符串
        $.ajaxSetup({
            data: {csrfmiddlewaretoken:'{{ csrf_token }}'},});
        $.ajax({
            url:'/taskdo/ajaxplaybook/',
            data:{"sendgroupname":$("#group").val(),"ip":hostip,"scriptname":$("#scriptname").val()},
            type: 'POST',
            dataType: 'json',
            success: function (data, textStatus) {
            $("#command").text(data.command);
            $("#success_num").text(data.success_num+'台');
            $("#success_list").text('主机：'+data.success_list);
            $("#failed_num").text(data.failed_num+'台');
            $("#failed_list").text('主机：'+data.failed_list);
            $("#unreachable_num").text(data.unreachable_num+'台');
            $("#unreachable_list").text('主机：'+data.unreachable_list);

            var content="";
            $.each(data.stdout_success,function (i,item) {
                content+= '<font color="red">'+ i +':</font><br><pre><font color="white">'+ item +'</font></pre>';
            })
            $('#stdout_success').html(content);

            var content="";
            $.each(data.stdout_failed,function (i,item) {
                content+= '<font color="red">'+ i +':</font><br><pre><font color="white">'+ item +'</font></pre>';
            })
            $('#stdout_failed').html(content);
            $('#task').val("");     //执行完成后清除命令框防止重复执行
        },
            error : function(e){
                alert("执行失败！");
            }
        });
    });



       $("#submit-test-btn").click(function () {
        $('#stdout_success').html('<font color="red">命令执行中........</font>');
        var host_list = new Array();
        $('input[name="ip"]:checked').each(function(){
         host_list.push($(this).val());//向数组中添加元素
        });
        var hostip=host_list.join(',');//将数组元素连接起来以构建一个字符串
        $.ajaxSetup({
            data: {csrfmiddlewaretoken:'{{ csrf_token }}'},});
        $.ajax({
            url:'/taskdo/ajaxplaybook/',
            data:{"sendgroupname":$("#group").val(),"ip":hostip,"scriptname":$("#scriptname").val(),"type":"test"},
            type: 'POST',
            dataType: 'json',
            success: function (data, textStatus) {
            $("#command").text(data.command);
            $("#success_num").text(data.success_num+'台');
            $("#success_list").text('主机：'+data.success_list);
            $("#failed_num").text(data.failed_num+'台');
            $("#failed_list").text('主机：'+data.failed_list);
            $("#unreachable_num").text(data.unreachable_num+'台');
            $("#unreachable_list").text('主机：'+data.unreachable_list);

            var content="";
            $.each(data.stdout_success,function (i,item) {
                content+= '<font color="red">'+ i +':</font><br><pre><font color="white">'+ item +'</font></pre>';
            })
            $('#stdout_success').html(content);

            var content="";
            $.each(data.stdout_failed,function (i,item) {
                content+= '<font color="red">'+ i +':</font><br><pre><font color="white">'+ item +'</font></pre>';
            })
            $('#stdout_failed').html(content);
            $('#task').val("");     //执行完成后清除命令框防止重复执行
        },
            error : function(e){
                alert("执行失败！");
            }
        });
    });


function check_all(obj, cName) {
    var checkboxs = document.getElementsByName(cName);
    for (var i = 0; i < checkboxs.length; i += 1) {
        checkboxs[i].checked = obj.checked;
    }
}

</script>
{% endblock %}


{% block playbook %}active{% endblock %}

{% block custom_style %}

<style>
#select-script{
        display: none;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 2;
        height: 100%;
        width: 100%;
        background: rgba(0,0,0,0.2);
}
.sign {
    position: absolute;
    left: 50%;
    top: 20%;
    width: 40%;
    background: #fff;
}
.script-content{
    margin: 10px;
    width: 200px;
    height: 100%;
    background: #fff;
}

            /*隐藏input*/
        label.bui-radios-label input[type="radio"]{
            position: absolute;
            opacity: 0;
            visibility: hidden;
        }
        /*自定义radio*/
        label.bui-radios-label .bui-radios{
            display: inline-block;
            position: relative;
            width: 13px;
            height: 13px;
            background-color: #fff;
            border: 1px solid #979797;
            border-radius: 50%;
            vertical-align: -2px;
            margin-right: 5px;
        }
        /*单选框选中后，自定义radio的样式*/
        label.bui-radios-label input[type="radio"]:checked + .bui-radios:after{
            position: absolute;
            content: "";
            width: 7px;
            height: 7px;
            background-color: #fff;
            border-radius: 50%;
            top: 3px;
            left: 3px;
        }
        label.bui-radios-label input[type="radio"]:checked + .bui-radios{
            background-color: #00B066;
            border:1px solid #00B066;
        }
        label.bui-radios-label input[type="radio"]:disabled + .bui-radios{
            background-color: #e8e8e8;
            border:1px solid #979797;
        }
        label.bui-radios-label input[type="radio"]:disabled:checked + .bui-radios:after{
            background-color: #c1c1c1;
        }
        /*自定义radio的过渡效果*/
        label.bui-radios-label.bui-radios-anim .bui-radios{
            -webkit-transition:background-color ease-out .5s;
            transition:background-color ease-out .5s;
        }

</style>
{% endblock %}