{% extends "base.html" %}
{% block content %}

<div class="container-fluid">
                <div class="row">


                    <div class="col-md-10">
                         <form id="userform" action="/users/usersettings{{user.id}}/" method="post" autocomplete="off">
                        <div class="card">
                            <div class="card-header bg-light">
                                用户个人信息修改
                            </div>


                            <div class="card-body">
                                <div class="row mb-5">
                                    <div class="col-md-4 mb-4">
                                        <div>个人信息</div>
                                        <div class="text-muted small"></div>
                                    </div>

                                    <div class="col-md-8">
                                        <div class="row">
                                            <div class="col-md-6">

                                                <div class="form-group">

                                                    <label class="form-control-label">用户名</label>
                                                    <input class="form-control" name="username" value="{{user.username}}">
                                                    <input name="user_id" value="{{user.id}}" type="hidden">
                                                </div>
                                            </div>

                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="form-control-label">岗位</label>
                                                    <input class="form-control" value="{{user.get_role_display}}" readonly>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="form-control-label">邮箱</label>
                                                    <input class="form-control" name="email" value="{{user.email}}">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="form-control-label">手机号</label>
                                                    <input class="form-control" name="mobile" value="{{user.mobile}}">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <hr>

                                <div class="row mt-5">
                                    <div class="col-md-4 mb-4">
                                        <div>修改密码</div>
                                        <div class="text-muted small">不需要修改密码请留空</div>
                                    </div>

                                    <div class="col-md-8">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="form-control-label">密码</label>
                                                    <input type="password" name="password1" class="form-control">
                                                </div>
                                            </div>

                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="form-control-label">再次确认密码</label>
                                                    <input type="password" name="password2" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card-footer bg-light text-right">
                                <button type="submit" class="btn btn-primary">保存修改</button>
                            </div>
                        </div>
                                {% csrf_token %}
                         </form>
                    </div>
                </div>
            </div>
{% if msg %}<script>alert("{{ msg }} "+"{{ res }}");</script>{% endif %}



{% endblock %}