{% extends "base.html" %}
{% block content %}

            
                <div class="row">
    
                    <div class="col-md-4">
                        <div class="card">
                                <div class="card-header bg-light">
                                        目标主机
                                    </div>
                                    
                                    <div class="col-md-12">
                                            <div class="form-group">
                                                    <label for="single-select">主机分组</label>
                                                     <select id="single-select" name="type" class="form-control">
                                                        {% for group in groups %}
                                                    <option value="{{group.group_name}}">{{group.group_name}}</option>
                                                          {% endfor %}
                                                   </select>
                                                </div>

                                            <div class="form-group">
                                                <label for="normal-input" class="form-control-label">IP地址</label>
                                                <input id="normal-input" class="form-control" value="Input value">
                                            </div>

                                              <div class="form-group">
                                                    <label for="normal-input" class="form-control-label">模块</label>

                                                  <select id="model-select" class="form-control">
                                                        <option>shell</option>
                                                        <option>2</option>
                                                        <option>3</option>
                                                        <option>4</option>
                                                        <option>5</option>
                                                    </select>
                                                </div>
                                   
                                            <div class="form-group">
                                                    <label for="normal-input" class="form-control-label">命令</label>
                                                    <input id="task-input" class="form-control" value="Input value">
                                                </div>
                               

                                            <span class="input-group-btn">
                                                    <button type="button" class="btn btn-primary"><i class="fa fa-search"></i> 执行</button>
                                                </span>
                                        </div>
                                        <br>
                                         
                        </div>
                    </div>

                    <div class=col-md-8>

                            <div class="card">
                                    <div class="card-header bg-light">
                                            执行结果
                                        </div>
                                        
                                        <div class="col-md-4">
                                               
                                            </div>
                                             
                            </div>
                    </div>
                </div>
    

{% endblock %}
