{% extends "base.html" %}
{% block content %}

    <div class="row">

                    <div class="col-md-4">
                        <div class="card">
                                <div class="card-header bg-light">
                                        上传文件
                                    </div>
                                   <form action="/upload/" method="post" autocomplete="off" enctype="multipart/form-data">
                                    <div class="col-md-8">

                                         <label>主机组</label>
                                        <select name="hostgroup" class="form-control">
                                           {% for group in groups %}
                                            <option name="group" value="{{group.group_name}}">{{group.group_name}}</option>
                                             {% endfor %}
                                        </select>
                                        <br>
                                        <label>上传用户</label>
                                         <input  class="form-control" name="username" value=" "><br>
                                        <label>上传路径</label>
                                         <input  class="form-control" name="uploaddir" value=" "><br>

                                         <input type="file" name="filename"><br><br>
                                         <button type="submit" class="btn btn-success " ><i class="fa fa-align-center"></i>  上传文件  </button>
                                        </div>
                                       {% csrf_token %}
                                   </form>
                                        <br>

                        </div>
                    </div>

                    <div class=col-md-8>

                            <div class="card">
                                    <div class="card-header bg-light">
                                            执行结果
                                        </div>

                                        <div class="col-md-12">
                                            <lable>执行命令：{{ command }}</lable><br>
                                            <br>
                                            执行成功：{{  success_num }}台 &nbsp;执行失败：{{failed_num }} 台 &nbsp; 主机无法连接：{{ unreachable_num }}台<br>

                                            执行成功主机：{{ success_list  }}<br>
                                            执行失败主机：{{ failed_list  }}<br>
                                            无法连接主机：{{ unreachable_list}}<br><br>

                                            远程主机返回结果：<br>
                                            <div style="background-color: black ">
                                            {% for key,value in stdout_success.items %}

                                                <font color="red">{{key}}:</font><br>
                                            <pre>
                                                <font color="white">
                                            {{value}}</font>
                                             </pre>

                                            {% endfor %}

                                            {% for key,value in stdout_failed.items %}


                                                <font color="red">{{key}}:</font><br>
                                            <pre>
                                                <font color="white">
                                            {{value}}</font>
                                             </pre>
                                            {% endfor %}
                                             </div>

                                            <br>

                                            </div>

                            </div>
                    </div>
                </div>



{% endblock %}