{% extends "base.html" %}
{% block content %}

    <div class="row">

                    <div class="col-md-4">
                        <div class="card">
                                <div class="card-header bg-light">
                                        上传文件
                                    </div>
                                   <form action="/taskdo/upload/" method="post" autocomplete="off" enctype="multipart/form-data">
                                    <div class="col-md-8">

                                         <label>主机组</label>
                                        <select id="group" name="group" class="form-control">
                                             <option value="">请选择</option>
                                           {% for group in groups %}
                                            <option name="group" value="{{group.group_name}}">{{group.group_name}}</option>
                                             {% endfor %}
                                        </select>
                                        <br>
                                        <label>上传用户</label>
                                            <div id="show_user">
                                                <select id="users" name="users" class="form-control"></select>
                                            </div>
                                        <br>
                                        <label>上传路径</label><label>默认上传到用户主目录下。其他目录填写绝对路径如：/home</label>
                                         <input  class="form-control" name="uploaddir" id="uploaddir" value=" "><br>

                                         <input type="file" name="filename" id="filename" multiple><br><br>
                                         <button type="button" id="submit-upload-btn" class="btn btn-success " ><i class="fa fa-align-center"></i>  上传文件  </button>
                                        </div>
                                       {% csrf_token %}
                                   </form>
                                        <br>

                        </div>
                    </div>

                    <div class=col-md-8>

                            <div class="card">
                                    <div class="card-header bg-light">
                                            执行结果
                                        </div>

                                 <div class="col-md-12">
                                            <lable>执行命令：{{ command }}</lable>
                                           <label id="command"></label><br>
                                            <br>
                                          <label>执行成功：</label>
                                          <label id="success_num"></label>
                                          <label id="success_list"></label><br>

                                          <label>执行失败：</label>
                                          <label id="failed_num"></label>
                                          <label id="failed_list"></label><br>

                                          <label>主机无法连接：</label>
                                          <label id="unreachable_num"></label>
                                          <label id="unreachable_list"></label><br>

                                          <label>远程主机返回结果：</label> <div style="background-color: black ">
                                          <div id = "stdout_success"></div>
                                          <div id = "stdout_failed"></div>
                                          </div>

                                            </div>

                            </div>
                    </div>
                </div>



{% endblock %}

{% block upload %}active{% endblock %}

{% block custom_js %}


<script language="JavaScript">
    $("#group").change(function() {
      var groupname = $(this).val();
      alert(groupname);
      $.ajax({
        url: '/taskdo/getusers/',
        data:{"sendgroupname":groupname},
        type: 'GET',
        dataType: 'json',
        success: function (data, textStatus) {

            var content='<select id="users" name="users" class="form-control"><option name="users" value="root">root</option>';
            $.each(data, function(i, item){
                  content+='<option name="users" value="'+ item.username +'">'+item.username+'</option>';
             });
            content+='</select>';
            $('#show_user').html(content);
        },
      });
    });

    $("#submit-upload-btn").click(function () {
        var token = $('input[name=csrfmiddlewaretoken]').val();
        var fd = new FormData();
        fd.append("group",$("#group").val());
        fd.append("users",$("#users").val());
        fd.append("uploaddir",$("#uploaddir").val());
        fd.append("filename",$("#filename")[0].files[0]);
        fd.append("csrfmiddlewaretoken",token);
        $.ajaxSetup({
            data: {csrfmiddlewaretoken:'{{ csrf_token }}'},});
        $.ajax({
            url:'/taskdo/getajaxupload/',
            data:fd,
            type: 'POST',
            dataType: 'json',
            processData: false,
            contentType: false,
            success: function (data, textStatus) {
            $("#command").text(data.command);
            $("#success_num").text(data.success_num+'台');
            $("#success_list").text('主机：'+data.success_list);
            $("#failed_num").text(data.failed_num+'台');
            $("#failed_list").text('主机：'+data.failed_list);
            $("#unreachable_num").text(data.unreachable_num+'台');
            $("#unreachable_list").text('主机：'+data.unreachable_list);

            var history_success = $('#stdout_success').prop("outerHTML");
            var history_failed = $('#stdout_failed').prop("outerHTML");

            var content="";
            $.each(data.stdout_success,function (i,item) {
                content+= '<font color="red">'+ i +':</font><br><pre><font color="white">'+ item +'</font></pre>';
            })
            $('#stdout_success').html(content);

            var content="";
            $.each(data.stdout_failed,function (i,item) {
                content+= '<font color="red">'+ i +':</font><br><pre><font color="white">'+ item +'</font></pre>';
            })
            $('#stdout_failed').html(content);
        },
        });
    });


</script>
{% endblock %}