    {% extends "base.html" %}
{% block content %}

            <div class="container-fluid" >
                <div class="row">

  {% for user in users %}
                    <div class="col-md-3">
                    <div class="card">
                        <div class="card-header bg-light">
                            用户信息

                            <div class="card-actions">
                                <a href="/users/userprofile{{user.id}}/" class="btn">
                                    <i class="fa fa-pencil-alt"></i>
                                </a>

                                <a href="/users/deluser{{user.id}}/" class="btn" onclick="return sumbit_sure()">
                                    <i class="fa fa-cut"></i>
                                </a>
                            </div>
                        </div>

                        <div class="card-body">

                            <div>
                                    <span class="h4 d-block font-weight-normal mb-2"> <img src="/static/imgs/avatar-1.png" class="avatar avatar-sm" alt="logo">  {{user.username}} </span><br>

                                    <span class="font-weight-light">职位：{{user.get_role_display}}</span>


                                </div>



                        </div>
                    </div>
                </div>

   {% endfor %}


                </div>
                 {% if msg %}<script>alert("{{ msg }} "+"{{ res }}");</script>{% endif %}
            </div>


{% endblock %}

{% block userlist %}active{% endblock %}


{% block custom_js %}

<script language="javascript">
function sumbit_sure(){
var gnl=confirm("确定删除用户?");
if (gnl==true){
return true;
}else{
return false;
}
}

</script>


{% endblock %}